


@media only screen and (max-width: 576px) {

  /*------------------------------------------ nav stail srart ----------------------------------------------*/
  nav {
    margin: 0 5px;
  }
  .logoimg{
    margin-top:15px;
  }
  .fa-bars {
    display: block;
    font-size: 30px;
  }
  .navemenu {
    display: none;
  }
  .logo {
    display: none;
  }
  .button {
    display: none;
  }
  .linebreak {
    display: block;
    margin-top:20px;
    border:2px solid #ffcc00;
  }


    /*------------------------------------------ nav stail end  ----------------------------------------------*/
 /*----- ------------------------------- banner stail start --------------------------------------------- */
  .banner-container{
    display:flex;
    flex-direction: column-reverse;
    margin:10px 20px;
    /* flex-direction:column-reverse;
    align-items:center; */

  }
  .banner-image{
  align-items:center;
  
  }
  .banner-image >img{
    margin-left:0px;
    width:100%;
    height:100%;
  }
  .banner-content{
    overflow:hidden;
  }
 /* ------------------------------------ banner stail end ---------------------------------------------- */


 /*------------------------------------ curriculum section start ---------------------------------*/
 /* .curriculum-container{
  display:grid;
  grid-template-columns:repeat(1,1fr);
 } */
 .curriculum-container{
  width:100%;
  margin-left:0px;
  margin-top:20px;

 }

 .carriculum-grid-container{
  display:grid;
  grid-template-columns:repeat(1,1fr);

 }
 .pair{
  display:none;
 }

  /*------------------------------------ curriculum section end ---------------------------------*/
  .our-stories-container{
    width:100%;
    margin-left:0px;
    margin-top:20px;
  }
  .stories-pairt-one{
    display:none;
    
  }
  .stories-contaner{
  
    grid-template-columns:repeat(1,1fr);
  
  }
 

  /* ------------------------------------- footer section start ----------------------------------- */

  .footer{
    display:grid;
    grid-template-columns:repeat(1,1fr);
  }
  /* --------------------------------------footer section end ------------------------------------- */



}
