/* @media screen and(max-width:576px){
    nav{
        display:block;
        position:relative;
        padding:20px 30px;
    }
    .navemenu{
        margin-top:15px;
        display:none;
    }

} */