
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* ------------------      nav stail start        ------------------------------------ */
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 30px;
  }
  
  .logoimg {
    display: flex;
    align-items: center;
  }
  
  .logo {
    font-size: 30px;
    font-weight: bold;
  }
  #home{
    color:rgb(0, 220, 209);
  }
  #about{
    color:rgb(255, 238, 0);
  }
  #facilites{
    color:darkorchid;
  }
  #admission{
    color:rgb(213, 20, 220);
  }
  
  .navemenu {
    display: flex;
    gap: 20px;
  }
  
  .navemenu > li {
    list-style: none;
  }
  
  .navemenu > li > a {
    text-decoration: none;
    font-size:20px;
  }
  
  .button {
    background-color: orange;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color:azure;
    font-size:20px;
  }
  
  .fa-bars {
    font-size: 25px;
    display: none;
  }
  
  .linebreak {
    display: none;
  }

    /* ------------------      nav stail end        ------------------------------------ */
  
 /*---------------- banner section start ------------------------- */
  .banner-container{

    margin:10px 30px;
    display:flex;
    justify-content:space-evenly;
    align-items:center;

  }
  .banner-content{
    /* align-items:center; */
    margin-left:0px;
    gap:50px;/
    /* text-align:center; */

  }
  .banner-head{
    font-size:50px;
  }
  #span-1{
    color:#f1c40f;
  }
  #span-3{
    color:#3498db;
  }
  .banner-para{
    font-size:20px;
    margin-top:20px;
    color:#2c3e50;
  }
  .banner-button{
    padding:12px 25px;
    border:none;
    background-color:#f1c40f;
    border-radius:30px;
    color:azure;
    font-size:20px;
    margin-top:20px;
  }
  .banner-image{
   
    margin-bottom:30px;
    /* width:50%; */
    
  }
  .banner-image >img{
    margin-bottom:10px;
    margin-left:260px;
  }
  /*---------------- banner section end ------------------------- */

  /* -------------------- curriculum section start ---------------------------- */

  .curriculum-container{
 
    text-align:center;
    margin:0 30px;
    background-image: url(image/download.jpg);
    

  }
  .curriculum-hed-line{
    font-size:50px;
    color:aliceblue;
  }
  .carriculum-grid-container{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    margin-top:40px 0px;
    padding:10px;
    gap:30px;
 

  }
  .grid-1{

    text-align:center;
    padding:20px;
    line-height:30px;
    border-radius:20px;
  }
  .grid-para{
    font-size:20px;
  }

  .grid-1 >a{
    text-decoration:none;
    font-size:30px;

  }

  #grid-1-a-tag{
    color:#34e7e4;
  }
  #grid-2-a-tag{
    color:#ef5777;
  }
  #grid-3-a-tag{
    color:#0be881;
  }

  #grid-id-1{
    background-image: linear-gradient(red, yellow);
  }
  #grid-id-2{
    background-image:linear-gradient(#ae8fd0,#4e4bfa);
  }
  #grid-id-3{
    background-image:linear-gradient(#05c46b,#fc5c65);
  }

  
  /* -------------------- curriculum section end ---------------------------- */

  /* -- -----pair secton start ------- -- */

  .pair{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:10px;
    margin-top:20px;
 
  }
  .pair-a{
    padding:20px;
    border-radius:100%;
    background-color:#ffa801;
    color:white;
    border:none;

  }
  .pair-b{
    padding:20px;
    border-radius:100%;
    background-color:#ffa801;
    color:white;
    border:none;
  }

    /* -- -----pair secton end ------- -- */

    /* ---------------------     our Stories section start --------------------------- */

    .our-stories-container{
      /* border:1px solid tomato; */
      margin:0px 30px;
      text-align:center;
     
      background-image:url(image/bg.jpg);
  
      background-repeat: no-repeat;
      
     
    }
    .stories-head{
      font-size:60px;
      color:white;
    }
    .btn{
      background-color:tomato;
      color:white;
      border-radius:30px;
      padding:10px 40px;
      border:none;
      margin-top:30px;
    }
    .stories-contaner{
      display:grid;
      grid-template-columns:repeat(2,1fr);
      gap:10px;
      margin-top:20px;
      /* border:1px solid green; */
    }




    .stories-pairt-one{
      background-color:whitesmoke;
      border:1px solid rgb(122, 0, 0);
      border-radius:30px;
    }

    

    .stories-pairt-one >div > img{
      width:100%;
     
      position:relative;
    

    }
    .devided{
      width:200px;
      height:50px;
      background-color:#e10a72;
      border-radius:30px;
      padding:15px;
      color:white;
      font-size:20px;
      position:relative;
      bottom:30px;
      left:30px;
  
    }
    .devided-2{
      width:100px;
      height:40px;
      background-color:green;
      color:white;
      position:relative;
      bottom:25px;
      left:20px;
      border-radius:30px;

    }
    #devided-2-id-1{
      background-color:rgb(0, 255, 149);
    }
    #devided-2-id-2{
      background-color:rgb(75, 70, 168);
    }
    #devided-2-id-3{
      background-color:rgb(183, 0, 255);
    }
    .stories-h1{
      color:#130f40;
      font-size:30px;
      margin-top:50px;
      margin-left:40px;
    }
    .stories-p{
      font-size:20px;
      font-weight:5px;
      margin-top:50px;
      margin-left:40px;
      
    }


    .stories-pairt-tow{
      /* border:1px solid red; */
      display:grid;
      grid-template-columns:repeat(2,1fr);
      gap:10px;
    }
    .pairt-tow-h2{
      margin-top:50px;
    }
    .stories-child-caird{
      /* border:1px solid rgb(213, 20, 220); */
      border-radius:20px;
      background-color:white;
    }
    .stories-child-caird >div >img{
      width:100%;
    }
    /* ---------------------     our Stories section end --------------------------- */
    /* -------------------------------- footer section start ---------------------- */

    .footer{
      background-color:#1e90ff;
      margin:20px 30px;
      display:grid;
      grid-template-columns: repeat(3,1fr);
      justify-content:space-around;
      justify-content:center;
      align-items:center;
      gap:80px;
      color:white;
    }
    .footer-section-one{
      /* border:1px solid green; */
      margin-top:60px;
     
    }
    #footer-section-one-logo{
      display:flex;
      margin-bottom:10px;

    }
    #footer-one-para{
      font-size:16px;
      margin-left:10px;
      font-weight:10px;
    }
    .footer-section-tow{
      /* border:1px solid red; */
      align-items:center;
      justify-content:center;
      line-height: 40px;
      margin-top:60px;
     
      /* margin-left:30px; */

    }
    .footer-section-tow >ul > li{
      list-style: none;
    }
    .footer-section-tow >ul > li >a{
      text-decoration:none;
      font-size:22px;
      color:whitesmoke;
      /* font-weight:5px; */
    }
    .footer-section-three{
      /* border:1px solid blue; */
      /* text-align: center; */
      margin-bottom:20px;
     
    }
    .footer-section-tree-childer-contaner{
     display:flex;
     gap:10px;
     margin-top:20px;
   
    }

        /* -------------------------------- footer section end ---------------------- */

