
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 30px;
  }
  
  .logoimg {
    display: flex;
    align-items: center;
  }
  
  .logo {
    font-size: 20px;
    font-weight: bold;
  }
  
  .navemenu {
    display: flex;
    gap: 20px;
  }
  
  .navemenu > li {
    list-style: none;
  }
  
  .navemenu > li > a {
    text-decoration: none;
  }
  
  .button {
    background-color: orange;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
  }
  
  .fa-bars {
    font-size: 25px;
    display: none;
  }
  
  .linebreak {
    display: none;
  }
  
  @media only screen and (max-width: 576px) {
    nav {
      margin: 0 5px;
    }
    .fa-bars {
      display: block;
      font-size: 30px;
    }
    .navemenu {
      display: none;
    }
    .logo {
      display: none;
    }
    .button {
      display: none;
    }
    .linebreak {
      display: block;
    }
  }
  

